@import '../../variables';


.main-page-div {
  padding-bottom: 50px;
  padding-top:45px;
}

.white-bg {
  background: white;
}

.photo-card{
  height: auto;
  // min-width: 6cm;
  width: 100%;

  border: none;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 11px 5px -8px rgba(176, 176, 176, 1);
  -moz-box-shadow: 0px 11px 5px -8px rgba(176, 176, 176, 1);
  box-shadow: 0px 11px 5px -8px rgba(176, 176, 176, 1);

  .card-img-top{
    width:100%;
    height:auto;
  }
}

.topbar-wrapper {
  background: white;
  width: 100%;
  height: $topBarHeight;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
}

.logo{
  height: 100%;
}

.flex-align-vertical {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.topbar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
  margin-left: 20px;
}

.no-photos-alert{
  padding: 20px;
}

.top-level-div{
  padding: 20px;
}
