@font-face{
  font-family: GT-haptik;
  font-weight: normal;
  src: url(./assets/fonts/GTHaptikAlternatives_forEmotive/GT-Haptik-Regular-2.otf);
}

@font-face{
  font-family: GT-haptik;
  font-weight: bold;
  src: url(./assets/fonts/GTHaptikAlternatives_forEmotive/GT-Haptik-Bold-2.otf);
}

@font-face{
  font-family: GT-haptik;
  font-weight: medium;
  src: url(./assets/fonts/GTHaptikAlternatives_forEmotive/GT-Haptik-Medium-2.otf);
}

@font-face{
  font-family: GT-haptik;
  font-weight: lighter;
  src: url(./assets/fonts/GTHaptikAlternatives_forEmotive/GT-Haptik-Light-2.otf);
}

@font-face{
  font-family: GT-haptik;
  font-weight: normal;
  font-style: oblique;
  src: url(./assets/fonts/GTHaptikAlternatives_forEmotive/GT-Haptik-Regular-Oblique-2.otf);
}

@font-face{
  font-family: GT-haptik;
  font-weight: bold;
  font-style: oblique;
  src: url(./assets/fonts/GTHaptikAlternatives_forEmotive/GT-Haptik-Bold-Oblique-2.otf);
}


@font-face{
  font-family: RobotoBlack;
  font-weight: normal;
  src: url(./assets/fonts/Roboto/Roboto-Black.ttf);
}



@font-face{
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: url(./assets/fonts/roboto-2014/Roboto-Regular.ttf)
}

@font-face{
  font-family: Roboto;
  font-weight: 500;
  src: url(./assets/fonts/roboto-2014/Roboto-Medium.ttf)
}

@font-face{
  font-family: Roboto;
  font-weight: bold;
  src: url(./assets/fonts/roboto-2014/Roboto-Bold.ttf)
}


// @font-face{
  // font-family: Roboto;
  // font-weight: bold;
  // src: url(./assets/fonts/roboto-2014/Roboto-Medium.ttf)
// }


